body{
    margin: 0%;
    background: rgb(158, 158, 188);
}

nav.u {
    height: 100px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(0deg, rgb(158, 158, 188), rgb(80, 132, 80)); 
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'Allerta Stencil', sans-serif;
font-size: 6vw;
padding-left: 50px;
padding-right: 50px;
}

hr{
    height: 10px;
    color: rgb(57, 96, 57);
    background-color: rgb(57, 96, 57);
    margin: 0%;
    border: none;
}

nav.d {
    height: 30px;
    background-color: rgb(19, 32, 19);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
font-family: 'Allerta Stencil', sans-serif;
font-size: 20px;
color: white;
}

hr.a{
    height: 100vh;
    width: 1px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    left: 3px;
}

hr.a1{
    height: 100vh;
    width: 2px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    left: 9px;
}

hr.b{
    height: 100vh;
    width: 3px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    left: 27px;
}

hr.b1{
    height: 100vh;
    width: 4px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    left: 40px;
}

hr.c{
    height: 100vh;
    width: 6px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    left: 15px;
}


hr.-a{
    height: 100vh;
    width: 1px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    right: 3px;
}

hr.-a1{
    height: 100vh;
    width: 2px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    right: 9px;
}

hr.-b{
    height: 100vh;
    width: 3px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    right: 27px;
}

hr.-b1{
    height: 100vh;
    width: 4px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    right: 40px;
}

hr.-c{
    height: 100vh;
    width: 6px;
    color: black;
    background-color: black;
    margin: 0%;
    border: none;
    position: fixed;
    right: 15px;
}